.row {
	max-width:62.5rem;
}
a {
	color:#f38b00;
}
a:link, a:visited, a:active {
    color: #f38b00;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
a:hover {
    color: #d17700;
    text-decoration: underline;
}
.svg-logo {
	max-width:333px;
	margin:20px 0px;
}
.home-image {
	margin-bottom:20px;
}
.cute-ul {
	margin:0px 0px 10px;
	padding:0px;
	list-style:none;
	font-family: 'Glegoo', serif;
}
.cute-ul li {
	padding:10px 0px;
}
.footer {
	margin-top:60px;
	width:100%;
	height: 24px;
	background-color:#f38b00;
}

/* FONTS */
@media print, screen and (min-width: 40em) {
	h1 {
		font-family: 'Glegoo', serif;
		font-weight: 700;
		font-size: 2.125rem;
	}
	h2 {
		font-family: 'Glegoo', serif;
		font-weight: 700;
		font-size: 2.0rem;
	}
	h3 {
		font-family: 'Glegoo', serif;
		font-weight: 700;
		font-size: 1.875rem;
	}
	p {
		font-family: 'Glegoo', serif;
		font-weight: 400;
		font-size: 1rem;
	}
}
/* END FONTS */
